* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.rps-header h2 {
    text-align: center;
    margin: 2rem 0;
}

.selection-container {
    display: flex;
    gap: 1rem;
    align-items: middle;
    justify-content: center;
}

.buttons-container {
    text-align: center;
    margin: 1rem 0;
}

.btn {
    margin: 0 20px;
    padding: 3rem;
    border-radius: 12px;
    outline: none;
}

.summary-container {
    text-align: center;
    margin: 3rem 0;
}
